<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID"
 xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
 metadata-complete="true" version="3.0">
  <display-name>systemsgs-erp-jsf-spring</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Valida a Sessão a cada tempo: depois redireciona para a Tela de Login = index.jsp => login.jsf -->
  <session-config>
  	<session-timeout>30</session-timeout>
  	<tracking-mode>COOKIE</tracking-mode>
  </session-config>
  
  <error-page>
  	<exception-type>org.springframework.security.access.AccessDeniedException</exception-type>
  	<location>/error/acessoNegado.jsf</location>
  </error-page>
  
  <error-page>
  	<exception-type>com.sun.faces.context.FacesFileNotFoundException</exception-type>
  	<location>/error/paginaNaoEncontrada.jsf</location>
  </error-page>
  
</web-app>